[user]
	name = Griffin
[commit]
	gpgsign = true
[push]
	autoSetupRemote = true
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	ui = true
	pager = true
[core]
	editor = micro
[protocol "file"]
	allow = always
[fetch]
	prune = true
